body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
.table {
    width: 100%;
    height: calc(100vh - 100px);
    border-collapse: collapse;
    table-layout: fixed;

    & th,
    td {
        text-align: center;
        min-width: 150px;
        max-width: 200px;
        border: 1px solid #eee;
    }

    & td {
        &:first-child {
            & span {
                margin: 0 auto;
            }
        }
        > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    & th {
        background-color: #ccccd3;
    }
}

.container {
    max-width: 1360px;
    padding: 0 1rem;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.controls {
    margin-left: auto;
    display: flex;
    padding: 1rem;

    & .filter {
        max-width: 300px;
        margin-left: auto;
    }

    & .btn {
        margin-left: 10px;
    }
}

.btn {
    padding: 1rem;
}

.remove-btn {
    background-color: transparent;
}

.create-event-form {
    display: none;
    position: fixed;
    z-index: 12;
    left: 0;
    top: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.form {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 50%;
    transform: translatey(-50%);
    left: 35%;
    width: 25%;
    padding: 2rem;
    background-color: #fff;
    z-index: 14;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);

    &-controls {
        margin-left: auto;
        justify-content: space-around;
        & .close-form {
            margin-left: auto;
        }
    }

    &-input {
        padding: 0.8rem 1rem;
        font-size: 1rem;
        width: 100%;
    }

    & .select {
        margin-bottom: 10px;
    }
}

.login-form-back {
    display: none;
    position: fixed;
    z-index: 12;
    left: 0;
    top: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.login-form {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 50%;
    transform: translatey(-50%);
    left: 35%;
    width: 25%;
    padding: 2rem;
    background-color: #fff;
    z-index: 14;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);

    .btn {
        margin-top: 10px;
        transform: translateX(-50%);
        margin-left: 50%;
    }
}

.show {
    display: block;
}

.filled {
    padding: 0 0.6rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: lightgreen;
}

.error {
    padding: 1rem;
    color: #f44336;
}

.login-error{
    padding: 1rem;
    color: #f44336;
}

.authorise {
    display: inline-block;
    // width: 100%;
    margin-bottom: 10px;
    transform: translatex(-50%);
    margin-left: 50%;
}
